
@{
    ViewBag.Title = "Index";
}

<h2>Delivery Personnel</h2>

<div class="images">

    <img src="~/Content/Images/1.jpg" height="200" width="200" />
    <h4>Tervin</h4>

    <img src="~/Content/Images/2.jpg" height="200" width="200" />
    <h4>James</h4>

    <img src="~/Content/Images/3.jpg" height="200" width="200" />
    <h4>Leonardo</h4>

    <img src="~/Content/Images/4.jpg" height="200" width="200" />
    <h4>Craig</h4>

    <img src="~/Content/Images/5.jpg" height="200" width="200" />
    <h4>Dwayne</h4>
</div>
